<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
                  <string>http://svpn23.f3322.net:88/doubleH3lix.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>org.doubleH3lix.doub</string>
				<key>bundle-version</key>
				<string>11.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>doubleH3lix</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>